.statistics {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgba(255, 243, 243, 0.781);
  border-radius: 10px;
  box-shadow: -10px 10px 25px -10px blue;
}

.title {
  font-size: 45px;
  color: rgb(4, 39, 85);
  padding: 10px 0;
}

.statList {
  display: flex;
  justify-content: space-between;
}

.statList:last-child {
  margin-bottom: 25px;
}

.item {
  padding: 10px;
  border-radius: 5px;
  width: calc(100% / 5);
}

.item:not(:last-child) {
  margin-right: 3px;
}

.item:hover,
.item:focus {
  box-shadow: -10px 10px 25px -10px rgb(0, 0, 255);
}
.label {
  display: block;
  font-size: 30px;
  color: rgb(92, 48, 48);
}

.percentage {
  color: rgb(89, 99, 44);
}
